/* Tablet */
@media screen and (max-width: 1023px) {
    .btn {
        width: 80px;
        height: 30px;
        color: white;
        font-size: var(--h6);
        font-weight: var(--medium-bold);
        background-color: #000;
        cursor: pointer;
        border: none;
    }
    /* ----- Class ----- */
    .border {
        border: 8px solid #000;
    }
    .text-box p:nth-child(1) {
        margin-top: 20px;
        font-size: var(--h6);
        font-weight: var(--bold);
    }
    .text-box p:nth-child(2) {
        margin-top: 5px;
        font-size: var(--h5);
        font-weight: var(--bold);
    }
    .text-box button {
        margin-top: 10px;
    }
    /* ----- //Class ----- */

    /* nav */
#nav {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: var(--h7);
    overflow: hidden;
}

#nav .empty-box {
    width: 40px;
}
#nav .hide-box {
    width: 100%;
    display: flex;
    opacity: 0;
    transition: all 0.5s;
}
#nav .hide-box .icon-box {
    fill: #fff;
    width: 20%;
    display: flex;
    justify-content: right;
    padding-right: 30px;
}
#nav .hide-box .icon-box img {
    width: 30px;
    height: 30px;
    margin-left: 10%;
}
#nav .hide-box ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav .hide-box ul li {
    margin-right: 2%;
    text-align: center;
}
#nav .hide-box ul li  a {
    width: 200px;
}
#nav .hide-box ul li:first-child {
    margin-left: 60px;
}
/* ----- //Nav ----- */
    /* ----- Main-view ----- */
#main-view .main-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-view .main-img-box {
    width: 320px;
    /* max-width: 100%; */
    height: 340px;
    margin-top: 150px;
}
#main-view .main-img-box img {
    width: 100%;
    height: 100%;
}
#main-view .main-left {
    position: absolute;
    left: 50%; 
    transform: translateX(-80%);
    animation: rotate_left 10s linear infinite;
}
@keyframes rotate_left {
    100% {
        transform: translateX(-80%) rotate(360deg);
    }
}
#main-view .main-right {
    position: absolute;
    right: 50%;
    transform: translateX(80%); 
    animation: rotate_right 10s linear infinite;
}
@keyframes rotate_right {
    100% {
        transform: translateX(80%) rotate(-360deg);
    }
}
/* ----- //Main-view ----- */
    /* ----- Big-section ----- */
    #big-section {
        /* background-color: pink; */
        height: 600px;
    }
    #big-section .big-img-box {
        width: 100%;
        height: 400px;
    }  
    #big-section .big-img-box img {
        width: 100%;
        height: 100%;
    }
    /*---- //Big-section ----- */ 

    /*---- Bottom-section ----- */ 
#bottom-section {
    height: 500px;
}
#bottom-section .bottom-1 {
    height: 80px;
    align-items: center;
    font-size: var(--h4);
}
#bottom-section .bottom-1  .search-bar {
    width: 60%;
    display: flex;
    align-items: center;
    position: relative;
}
#bottom-section .bottom-1  input {
    width: 100%;
    height: 50px;
    font-size: var(--h7);
    font-weight: var(--medium-bold);
    padding-left: 10px;
    border: 5px solid #000;
}
#bottom-section .bottom-1 img {
    position: absolute;
    right: 10px;
    width: 26px;
    height: 26px;
}
#bottom-section .bottom-2 {
    height: 200px;
    margin-top: 80px;
    font-size: var(--h4);
}
#bottom-section .btm2-box {
    width: 60%;
    font-size: var(--h5);   
}
#bottom-section .btm2-box p {
    margin-bottom: 30px;
    font-size: var(--h5);
    font-weight: var(--bold);
}
#bottom-section .btm2-box p:last-child {
    text-decoration: underline;
}
}
/* ----- //bottom-section ----- */

/*---- Footer ----- */
#footer {
    height: 800px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
} 
#footer .footer-container {
    width: 90%;
    height: 100%;
}
#footer .footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Footer-1 */
#footer .footer-container .footer-1 {
    height: 260px;
    padding-top: 60px;
    /* background-color: antiquewhite; */
}
/* Footer-2*/
#footer .footer-container .footer-2 {
    justify-content:start;
    margin-bottom: 60px;
    /* background-color: rgb(243, 201, 208); */
}
#footer .footer-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: var(--h5);
    font-weight: var(--bold);
    /* background-color: rgb(79, 105, 128); */
}
#footer .footer-text {
    width: 100%;
    padding-top: 60px;
    /* background-color: rgb(137, 190, 190); */
}
#footer .footer-text ul {
    display: flex;
    height: 100px;
}
#footer .footer-text  li {
    font-size: var(--h6);
    margin-right: 2%;
}
.slide {
    display: none;
}
/* Footer-3 */
#footer .footer-3 {
    height: 250px;
    margin-top: 80px;
}
#footer .footer-3-wrap p {
    margin-bottom: 10px;
    color: #888888;
    font-size: var(--h7);
}
#footer .footer-3-wrap .line {
    height: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #fff;
}
#footer .footer-3-box span {
    color: #fff;
    padding-left: 30px;
}
#footer .footer-3-box img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
#footer .footer-3 .bottom-wrap {
    display: flex;
    justify-content: space-between;
}
/*---- //Footer ----- */ 